[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
google-api-python-client = "*"
pymysql = "*"
cleo = "*"
yoyo-migrations = "*"
mysqlclient = "*"


[dev-packages]

